.adminlogouttext{
    margin-top: 1rem;
    margin-right: 5px;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #064497;
}

.adminlogouticon{
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 1rem;  
    text-decoration: none;
   color: #064497;
}

.addnewcitytxt{
    margin-top: 1rem;
    margin-right: 5px;
    margin-left: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: #064497;
}

.addnewcitybtn{
    background: linear-gradient(to right, rgb(237, 125, 34), orange);
    z-index: 0;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: none;
    margin: 0 0.9em 0.9em 0;
    border-radius: 0.325em;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: large;
    /* color: #080606; */
    color: white;
    /* color: white; */
    text-align: center;
    /* transition: all 0.2s; */
    box-shadow: 0 2px 2px rgba(232, 223, 223, 0.6);
    cursor: pointer;
    transition: all 0.2s ease;
    margin-left: 26px;
}